@charset "ULT-8";

body {
    padding: 0;
    margin: 0;
    color: #828282;
    font-family: Arial, Helvetica, sans-serif;
}


/*---------------MENU---------------------*/
header {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

header li {
    padding: 20px;
    list-style: none;
    display: inline;
}

.linkmenu {
    
    font-size: 13px;
    text-decoration: none;
}

.linkmenu:hover {
    color: black;
}

header button {
    margin-left: 37%;
    background-color: rgba(255, 255, 255, 0.1);
    width: 130px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid #9b51e0;
    color: #9B51E0;
    font-weight: bolder;
    
}

header button:hover {
    background-color: #ab73e015;
}


/*---------------CAMPO DE BUSCA---------------------*/
.buscar {
    border-top: 1px solid #E5E5E5;
    width: 1200px;
    margin: 20px auto;
    padding: 5px 0;

}

.span {
    margin-top: auto;
    font-size: 0.6em;
}

.buscar2 {
    display: block;
    float: right;
}

.buscar2 input{
    background-image: url(img/lupa-busca\ 1.jpg);
    background-position: 7px 4px;
    background-repeat: no-repeat;
    border: 2px solid #9B51E0;
    border-radius: 50px;
    float: right;
    width: 290px;
    height: 45px;
    padding:  0 5px;
    outline: none;
    text-align: center;
}


.ul-busca {
    list-style-type: none;
    margin: 50px 0; 
    position: absolute;
    display: inline-block; 
    
}

.ul-busca li {
    
    font-size: 0.8em;
    text-align: center;
    background-color: white;
    border: 2px solid #9B51E0;
    border-radius: 50px;
    width: 250px;
    height: 25px;
    padding: 5px;
}

.ul-busca li:hover {
    background-color: #eee;
    cursor: pointer;
  }


/*---------------CORPO---------------------*/
main {
    padding-top: 10px;
    width: 1200px;
    margin: auto;
}


/*---------------CABEÇALHO/DESCRIÇAO DO PROJETO---------------------*/
.cabeçalho {
    padding-bottom: 10px;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    align-items: center;
}

.projeto {
    
    display: flex;
    float: left;
    align-items: center;
}

.projeto img {
    height: 60px;
    padding-right: 30px;
}

.projeto p {
    font-size: 25px;
}

.projetodesc {
    padding: 0 80px;
}

.projetodesc li {
    font-size: 14px;
    list-style: none;
}

.projetoestado li{
    list-style: none;
}

.liestado {
    font-size: 30px;
}


/*---------------SITUAÇAO DO PROJETO---------------------*/

.situaçaoprojeto {
    margin-bottom: 5px;
}

.situaçaoprojeto p {
    font-size: 20px;
    font-weight: lighter;
}

.situaçaoprojeto span {
    padding: 0 45px;
}

.span1 {
    font-weight: 700;
    color: #9B51E0;
}


/*---------------DESCRIÇAO/VOTOS---------------------*/
.descriçaovotação {    
    display: flex;
    align-items: center;

}
/*---------------DESCRIÇAO---------------------*/
.descriçao1 {
    height: 350px;
    overflow: auto;
    padding-right: 10px;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
    
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #9B51E0;
}

.descriçao p {
    font-size: 0.9em;
    text-align: justify;
}


/*---------------VOTAÇAO---------------------*/

.votaçao {
    margin-left: 5px;
  
}

#votaçao1 {
    width: 263px;
    height: 340px;
    overflow: auto;
    float: left;
    border-radius: 10px;
    border:  3px solid #9B51E0;
}

#votaçao1 ul {
    margin: auto;
    text-align: center;
}

#votaçao1 li{
    
    padding: 5px;
    text-align: left;
    font-size: 0.8em;
    list-style: none;

}

#voto{
    padding: 10px;
    text-align: right;
}









